.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: $bg-header;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    li {
      a {
        display: block;
        padding: 10px;
        margin-right: 10px;
        color: $text-header;
        text-decoration: none;
        font-family: "IBM Plex Mone", monospace;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 0.1rem;
      }
    }
  }
  @media (max-width: 700px) {
    grid-column: 1;
    margin-top: 0px;
  }
}
