// CORES
$bg-primary-color: #faf6ec;
$text-primary-color: #222;

// HEADER
$bg-header: #fb5;
$text-header: #222;

// ANIMAIS
$color-text-animais: #e54;
$color-text-before: #fb5;

// FAQ
$color-text-faq: #e54;
$color-text-faq-before: #fb5;

// CONTATO
$color-text-contato-before: #fb5;

// FOOTER
$bg-footer: #fb5;
