body {
  background: $bg-primary-color;
  color: $text-primary-color;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  .grid-section {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    grid-gap: 20px;
    margin-bottom: 4rem;
    .titulo {
      font-family: "Playfair Display SC", Georgia;
      font-size: 6rem;
      line-height: 1;
      font-weight: normal;
      margin-bottom: 1rem;
      grid-column: 1 / 4;
      @media (max-width: 700px) {
        font-size: 3rem;
      }
    }
    .animais-lista {
      height: 370px;
      overflow-y: scroll;
      grid-column: 2;
      &::-webkit-scrollbar {
        width: 18px;
      }
      &::-webkit-scrollbar-thumb {
        background: $color-text-before;
        border-left: 4px solid $bg-primary-color;
        border-right: 4px solid $bg-primary-color;
      }
      &::-webkit-scrollbar-track {
        background: $bg-primary-color;
      }
      @media (max-width: 700px) {
        grid-column: 1;
      }
    }
    .animais-descricao {
      grid-column: 3;
      section {
        margin-bottom: 3rem;
        h2 {
          font-family: "IBM Plex Mono", monospace;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          margin-bottom: 1rem;
          color: $color-text-animais;
          &:before {
            content: "";
            display: inline-block;
            width: 40px;
            height: 10px;
            margin-right: 10px;
            background: $color-text-before;
          }
        }
        p {
          font-family: "Helvetica", "Arial", sans-serif;
          line-height: 1.2;
          margin-bottom: 1rem;
        }
      }
    }
    @media (max-width: 700px) {
      grid-column: 1;
      grid-template-columns: 100px 1fr;
      grid-gap: 10px;
    }
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
