.grid-section {
  .faq-lista {
    grid-column: 2 / 4;
    dt {
      font-family: "IBM Plex Mono", monospace;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      color: $color-text-faq;
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: $color-text-faq-before;
      }
    }
    dd {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0.5rem;
      margin-left: 30px;
    }
    @media (max-width: 700px) {
      grid-column: 1 / 3;
    }
  }
}
